<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="EventReg.css">
  <title>Event Registration Form.</title>
  <div id="event-registration">
    <h1>Event-Registration</h1>
    <form id="event-registration-form" method="POST" action="">
      <!-- Form contents will go here -->
      <fieldset>
        <h3>Personal Information</h3>
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" />
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" />
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
        <label for="Event_Name">Event Name</label>
        <input type="text" id="street" name="street" />
        <label for="unit">No of Seats</label>
        <input type="text" id="unit" name="unit" />
        <label for="city">City</label>
        <input type="text" id="city" name="city" />
        <label for="state">State</label>
        <select id="states">
            <option>-- Choose your state --</option>
          </select>
        <label for="postal-code">Postal Code</label>
        <input type="text" id="postal-code" name="postal-code" />
      </fieldset>
      <button type="button" onclick="window.location.href='thankyou.html'">Register</button>
  </div>
</head>

<body>
<script src="EventReg.js"></script>
</body>

</html



